In [2]:
import os

In [1]:
import os
import awscli as aws
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import date 
from datetime import time
import math

import cartopy.crs as ccrs
import cartopy.feature as cfeature
import cartopy
import matplotlib.ticker as mticker
from cartopy.mpl.gridliner import LONGITUDE_FORMATTER, LATITUDE_FORMATTER
from shapely import geometry

import matplotlib.pyplot as plt
import xarray 
import metpy  
from mpl_toolkits.basemap import Basemap
import colormap
from matplotlib.colors import LinearSegmentedColormap
from matplotlib import cm
from matplotlib.colors import ListedColormap, LinearSegmentedColormap

import time
import calendar
from matplotlib.patches import Polygon
from netCDF4 import Dataset # Import the NetCDF Python interface
import netCDF4 as nc
import dask
import nco
from sklearn.neighbors import NearestNeighbors
from math import radians, cos, sin, asin, sqrt
from textwrap import wrap
import matplotlib.patches as mpatches
import matplotlib.gridspec as grd

In [8]:
def dist(lat1, long1, lat2, long2):
    """
Replicating the same formula as mentioned in Wiki
    """
    # convert decimal degrees to radians 
    lat1, long1, lat2, long2 = map(radians, [lat1, long1, lat2, long2])
    # haversine formula 
    dlon = long2 - long1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    # Radius of earth in kilometers is 6371
    km = 6371* c
    return km

In [ ]:
br_temp_clean1 = pd.read_csv('/data2/edworak/data/bt_df_clean1.nc', usecols = ["year", "month", "day", "hour", "minute",  "lat", "lon", "CMI_C14"])
df_cth_clean1 = pd.read_csv('/data2/edworak/data/cth_df_clean1.nc')

cth_bt_clean1 = []

# get it all into one 
# then limit it by time 
hours = [18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5]
mins = range(0, 60, 10)

def find_nearest_max(lat, long):
    distances = cth_clean1_time.apply(lambda row: dist(lat, long, row['lat'], row['lon']), axis=1)
    return cth_clean1_time.loc[distances.idxmin(), 'maximum_cloud_top_height']

for i in range(len(hours)): 
    for j in range(len(mins)): 
        print(i)
        cth_clean1_time = df_cth_clean1.loc[(df_cth_clean1.hour == hours[i]) & (df_cth_clean1.minute >= mins[j]) & (df_cth_clean1.minute <= mins[j] + 9)]
        br_temp_clean1_time = br_temp_clean1.loc[(br_temp_clean1.hour == hours[i])& (br_temp_clean1.minute >= mins[j]) & (br_temp_clean1.minute <= mins[j] + 9)] 
        
        if (len(cth_clean1_time) >0) & (len(br_temp_clean1_time) >0): 
            
            br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(
                lambda row: find_nearest_max(row['lat'], row['lon']), axis=1)
            
            br_temp_clean1_time = pd.merge(br_temp_clean1_time, cth_clean1_time[['maximum_cloud_top_height', 'lat','lon']],on='maximum_cloud_top_height', how='left')

            # Rename the new columns as both the columns has same name, and python gets confused 
            br_temp_clean1_time = br_temp_clean1_time.rename(columns = {'lat_x':'bt_lat','lon_x':'bt_lon',
                                                                  'lat_y':'cth_lat','lon_y':'cth_lon'})

            br_temp_clean1_time['distance(km)'] = [dist(br_temp_clean1_time.bt_lon[i],br_temp_clean1_time.bt_lat[i],
                                                 br_temp_clean1_time.cth_lon[i], br_temp_clean1_time.cth_lat[i]) 
                                                 for i in range(len(br_temp_clean1_time))]
            br_temp_clean1_time['distance(km)'] = br_temp_clean1_time['distance(km)'].round(decimals=3)

            if len(cth_bt_clean1) == 0: 
                cth_bt_clean1 = br_temp_clean1_time
            else: 
                cth_bt_clean1 = pd.concat([cth_bt_clean1, br_temp_clean1_time], axis =0)
            cth_bt_clean1
            
            
cth_bt_clean1.to_csv("/data2/edworak/data/cth_bt_clean1_raw.nc")

0
0
0
0
0
0

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

1

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

1

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

1

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

1

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

1

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

1

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

2

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

2

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

2

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

2

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

2

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

2

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

3

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

3

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

3

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

3

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

3

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

3

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

4

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

4

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

4

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

4

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

4

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

4

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

5

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

5

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

5

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

5

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

5

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

5

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

6

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

6

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

6

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

6

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

6

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

6

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

7

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

7

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

7

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

7

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

7

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

7

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

8

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

8

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

8

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

8

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

8

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

8

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

9

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

9

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

9

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

9

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

9

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

9

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

10

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

10

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

10

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

10

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

10

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

10

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

11

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

11

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

11

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

11

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

11

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

11

/tmp/ipykernel_295660/1711196949.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_temp_clean1_time['maximum_cloud_top_height'] = br_temp_clean1_time.apply(

In [9]:
cth_bt_clean1 = pd.read_csv("/data2/edworak/data/cth_bt_clean1_raw.nc")

cth_bt_clean1 = cth_bt_clean1.sort_values('distance(km)', ascending=True)

cth_bt_clean1 = cth_bt_clean1.drop_duplicates(subset=['year', 'month', 'day', 'hour', 'minute', 
                                                     "CMI_C14", "bt_lat", "bt_lon"], keep='first')

cth_bt_clean1 = cth_bt_clean1.sort_index()
cth_bt_clean1.to_csv("/data2/edworak/data/cth_bt_clean1.nc")

In [11]:
cth_bt_clean1 = pd.read_csv("/data2/edworak/data/cth_bt_clean1.nc")
cth_bt_clean1

,Unnamed: 0.1,Unnamed: 0,year,month,day,hour,minute,bt_lat,bt_lon,CMI_C14,maximum_cloud_top_height,cth_lat,cth_lon,distance(km)
0,768,768,2019,6,8,18,55,54.896385,-118.029740,-50.196106,16971.695312,54.855682,-118.01522,2.670
1,2962,2962,2019,6,8,18,55,54.898476,-117.992150,-50.974167,16971.695312,54.855682,-118.01522,3.402
2,5156,5156,2019,6,8,18,55,54.900528,-117.954570,-50.495360,16971.695312,54.855682,-118.01522,7.138
3,7404,7404,2019,6,8,18,55,54.679604,-118.182240,-50.016556,16971.695312,54.640190,-118.13097,6.064
4,9598,9598,2019,6,8,18,55,54.644226,-118.056450,-50.255950,16971.695312,54.640190,-118.13097,8.289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79415,174238368,69872,2019,6,9,5,55,51.088127,-118.051980,-50.854460,17346.240234,51.127670,-117.99996,6.142
79416,174240562,72066,2019,6,9,5,55,51.090225,-118.017760,-50.255950,17346.240234,51.127670,-117.99996,2.782
79417,174242756,74260,2019,6,9,5,55,51.091710,-117.983980,-50.136260,17346.240234,51.127670,-117.99996,2.584
79418,174244950,76454,2019,6,9,5,55,51.093067,-117.950264,-50.136260,17346.240234,51.127670,-117.99996,5.813
79419,174247143,78647,2019,6,9,5,55,51.045723,-118.171220,-50.196106,17346.240234,51.119442,-118.16949,3.875

# AGH

In [9]:
def dist(lat1, long1, lat2, long2):
    """
Replicating the same formula as mentioned in Wiki
    """
    # convert decimal degrees to radians 
    lat1, long1, lat2, long2 = map(radians, [lat1, long1, lat2, long2])
    # haversine formula 
    dlon = long2 - long1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    # Radius of earth in kilometers is 6371
    km = 6371* c
    return km

In [13]:
def calculate_distance(lon1, lat1, lon2, lat2):
    lon1_rad, lat1_rad, lon2_rad, lat2_rad = np.radians(lon1), np.radians(lat1), np.radians(lon2), np.radians(lat2)
    dlon = lon2_rad - lon1_rad
    dlat = lat2_rad - lat1_rad
    a = np.sin(dlat / 2) ** 2 + np.cos(lat1_rad) * np.cos(lat2_rad) * np.sin(dlon / 2) ** 2
    c = 2 * np.arcsin(np.sqrt(a))
    return c * 6371  # 6371 is the approximate radius of the Earth in kilometers

In [4]:
data = pd.read_csv("/data2/edworak/data/2021_2022_acdegiklmnoprstuvzACEGKLMNRST4_sc.txt", names = ["a", "c", "Date", "e", "lon", "i", "peak-current", "lat", "m", "n", "o", "polarity", "range", "signal", "time", "u", "v", "z", "A", "C", "E", "C or G", "mag_current", "lat2", "m2", "time_nano", "R", "S", "T", "latlon"], delim_whitespace = True, skiprows = 0)
data2 = pd.read_csv("/data2/edworak/data/2021_2022_acdegiklmnoprstuvzACEGKLMNRST4_sc.txt", names = ["Date", "lon","peak-current", "lat", "multi", "polarity", "range", "Time", "C or G" ], delim_whitespace = True, skiprows = 0, usecols = [3,5,7,9,10,13,14,17,24])
data2[["year", "month", "day"]] = data2["Date"].str.split("-", expand = True)
data2[["hour", "minute", "second"]] = data2["Time"].str.split(":", expand = True)
data2['year'] = data2['year'].astype('int')
data2['month'] = data2['month'].astype('int')
data2['day'] = data2['day'].astype('int')
data2['hour'] = data2['hour'].astype('int')
data2['minute'] = data2['minute'].astype('int')
data_split2 = data2[["year", "month", "day", "hour", "minute", "second", "lat", "lon", "peak-current", "C or G", "multi", "polarity", "range"]]

data_split2

,year,month,day,hour,minute,second,lat,lon,peak-current,C or G,multi,polarity,range
0,2021,6,2,22,15,39,58.073,-119.732,14.7,C,0,+,11817.95
1,2021,6,2,22,15,40,58.043,-119.737,12.2,C,0,+,11819.49
2,2021,6,2,22,19,23,58.060,-118.448,-40.3,G,0,-,11818.65
3,2021,6,2,22,19,23,58.060,-118.449,-22.4,G,0,-,11818.65
4,2021,6,2,22,19,23,58.059,-118.448,-9.5,G,0,-,11818.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1308797,2021,7,31,23,55,54,52.396,-123.137,-12.6,G,0,-,12104.32
1308798,2021,7,31,23,55,54,52.397,-123.148,-17.5,G,0,-,12104.26
1308799,2021,7,31,23,55,54,52.334,-123.095,-6.7,G,0,-,12107.33
1308800,2021,7,31,23,56,39,52.323,-122.974,2.4,C,0,+,12107.86
1308801,2021,7,31,23,59,57,52.412,-123.141,8.0,C,0,+,12103.51

In [5]:
data3 = pd.read_csv("/data2/edworak/data/2021_sc_dN4KG 2.csv", names = ["Date", "Time", "lat", "lon", "peak-current", "C or G"],  delimiter = ",", skiprows = 0)
data3[["year", "month", "day"]] = data3["Date"].str.split("-", expand = True)
data3[["hour", "minute", "second"]] = data3["Time"].str.split(":", expand = True)
data3['year'] = data3['year'].astype('int')
data3['month'] = data3['month'].astype('int')
data3['day'] = data3['day'].astype('int')
data3['hour'] = data3['hour'].astype('int')
data3['minute'] = data3['minute'].astype('int')
data4 = data3[["year", "month", "day", "hour", "minute", "second", "lat", "lon", "peak-current", "C or G"]]

data_15_east = data4.loc[(data4["day"] == 15) & (data4["hour"] >= 18) & (data4["hour"] <= 23)]
data_15_west = data_split2.loc[(data_split2["day"] == 15) & (data_split2["hour"]>= 18) & (data_split2["hour"]<= 23)]
frames3 = [data_15_east, data_15_west]
data_nosmoke_extra= pd.concat(frames3)
data_nosmoke = data_nosmoke_extra[["year", "month", "day", "hour", "minute", "second", "lat", "lon", "peak-current", "C or G"]]
lightning_clean5 = data_nosmoke.loc[(data_nosmoke["lat"] >= 53) & (data_nosmoke["lat"] <= 60) & (data_nosmoke["lon"] >= -117) &(data_nosmoke["lon"] <= -110)]
lightning_clean5

,year,month,day,hour,minute,second,lat,lon,peak-current,C or G
112391,2021,6,15,18,0,01.838311680,54.3720,-114.9640,-12.4,G
112392,2021,6,15,18,0,02.672797952,54.9954,-114.5772,23.1,G
112393,2021,6,15,18,0,02.675810560,54.9930,-114.5842,-87.3,G
112394,2021,6,15,18,0,02.701090304,54.9968,-114.5735,-15.6,C
112395,2021,6,15,18,0,02.706437888,54.9714,-114.5681,-15.6,G
...,...,...,...,...,...,...,...,...,...,...
120253,2021,6,15,23,59,48,59.2990,-115.3530,-15.8,G
120254,2021,6,15,23,59,49,59.3110,-115.2900,7.0,C
120256,2021,6,15,23,59,54,59.3270,-115.1040,6.1,C
120257,2021,6,15,23,59,55,53.6360,-115.8750,11.8,C
120258,2021,6,15,23,59,56,59.9540,-115.5400,-17.3,G

In [7]:
correct_bt_clean5 = pd.read_csv("/data2/edworak/data/correct_bt_clean5.nc", usecols = [1, 2, 3, 4, 5, 6, 7, 8])
correct_bt_clean5

        year  month  day  hour  minute       tlat        tlon    CMI_C14
0       2021      6   15    23      55  59.575569 -117.320033 -51.692383
1       2021      6   15    22      55  59.574097 -117.321280 -51.093872
2       2021      6   15    22      45  59.580708 -117.273440 -50.136260
3       2021      6   15    23      45  59.579303 -117.232357 -51.093872
4       2021      6   15    23      25  59.587322 -117.183308 -50.196106
...      ...    ...  ...   ...     ...        ...         ...        ...
273174  2021      6   15    20       5  54.565652 -113.650556 -52.111330
273175  2021      6   15    20       5  54.568421 -113.610646 -52.111330
273176  2021      6   15    20       5  54.571345 -113.570546 -51.692383
273177  2021      6   15    20       5  54.572945 -113.538719 -51.393127
273178  2021      6   15    20       5  54.575524 -113.498909 -50.615050

[273179 rows x 8 columns]

In [14]:
lightning_df_clean5 = pd.DataFrame()


hours = [18, 19, 20, 21, 22, 23]
mins = range(0, 60, 5)

def find_nearest_clean5(lat, long):
    distances = correct_bt_clean5_time.apply(lambda row: dist(lat, long, row['tlat'], row['tlon']), axis=1)
    return correct_bt_clean5_time.loc[distances.idxmin(), "CMI_C14"]

for i in range(len(hours)): 
    for j in range(len(mins)): 
        print(i)

        data_clean5_time = lightning_clean5.loc[(lightning_clean5.hour == hours[i]) & (lightning_clean5.minute >= mins[j]) & (lightning_clean5.minute <= mins[j] + 9)]
        correct_bt_clean5_time = correct_bt_clean5.loc[(correct_bt_clean5.hour == hours[i])& (correct_bt_clean5.minute >= mins[j]) & (correct_bt_clean5.minute <= mins[j] + 9)] 
        
        if not data_clean5_time.empty and not correct_bt_clean5_time.empty: 
            data_clean5_time = data_clean5_time.copy()
            correct_bt_clean5_time = correct_bt_clean5_time.copy()
            
            data_clean5_time['CMI_C14'] = data_clean5_time.apply(
                lambda row: find_nearest_clean5(row['lat'], row['lon']), axis=1)

            data_clean5_time = pd.merge(data_clean5_time, correct_bt_clean5_time[['CMI_C14','tlat','tlon']],on='CMI_C14', how='left')


            # Rename the new columns as both the columns has same name, and python gets confused 
            data_clean5_time = data_clean5_time.rename(columns = {'lat_x':'l_lat','lon_x':'l_lon',
                                                                  'lat_y':'tlat','lon_y':'tlon'})

            data_clean5_time['distance(km)'] = calculate_distance(data_clean5_time.lon, data_clean5_time.lat,
                                                 data_clean5_time.tlon, data_clean5_time.tlat)
            
            data_clean5_time = data_clean5_time[data_clean5_time['distance(km)'] <= 50]
            data_clean5_time['distance(km)'] = data_clean5_time['distance(km)'].round(decimals=3)

            if lightning_df_clean5.empty: 
                lightning_df_clean5 = data_clean5_time
                
            else: 
                lightning_df_clean5 = pd.concat([lightning_df_clean5, data_clean5_time], axis =0)
            lightning_df_clean5

0
0
0
0
0
0
0
0
0
0
0
0
1
1
1
1
1
1
1
1
1
1
1
1
2
2
2
2
2
2
2
2
2
2
2
2
3
3
3
3
3
3
3
3
3
3
3
3
4
4
4
4
4
4
4
4
4
4
4
4
5
5
5
5
5
5
5
5
5
5
5
5

In [16]:
lightning_df_clean5

,year,month,day,hour,minute,second,lat,lon,peak-current,C or G,CMI_C14,tlat,tlon,distance(km)
12,2021,6,15,18,0,01.838311680,54.372,-114.964,-12.4,G,-58.216095,54.685743,-114.432225,48.933
17,2021,6,15,18,0,01.838311680,54.372,-114.964,-12.4,G,-58.216095,54.520937,-115.052560,17.523
18,2021,6,15,18,0,01.838311680,54.372,-114.964,-12.4,G,-58.216095,54.539462,-114.747889,23.279
19,2021,6,15,18,0,01.838311680,54.372,-114.964,-12.4,G,-58.216095,54.542342,-114.708379,25.135
22,2021,6,15,18,0,01.838311680,54.372,-114.964,-12.4,G,-58.216095,54.491423,-114.854029,15.064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16827,2021,6,15,23,59,54,59.327,-115.104,6.1,C,-60.729828,59.169904,-115.045471,17.782
16829,2021,6,15,23,59,54,59.327,-115.104,6.1,C,-60.729828,58.950396,-115.287816,43.169
16830,2021,6,15,23,59,54,59.327,-115.104,6.1,C,-60.729828,58.965466,-115.072761,40.240
16831,2021,6,15,23,59,54,59.327,-115.104,6.1,C,-60.729828,58.977605,-114.892761,40.675
16859,2021,6,15,23,59,56,59.954,-115.540,-17.3,G,-58.156250,59.593806,-115.452130,40.353

In [ ]:
lightning_df_clean5.to_csv("/data2/edworak/data/lightning_bt_plx_clean5.nc")

In [20]:
# df = lightning_df_clean5
# #df = pd.read_csv("/data2/edworak/data/lightning_bt_plx_clean5.nc")
# df = df.sort_values('distance(km)', ascending=True)
# df = df.drop_duplicates(subset=['year', 'month', 'day', 'hour', 'minute', 'second', 'lat', 'lon',
#       'peak-current', 'C or G'], keep='first') 
# df = df.sort_index()
# df = df.rename(columns={'peak-current': 'peak current'})

# df.to_csv("/data2/edworak/data/lightning_bt_plx_clean5.nc")
# df 
df1 = pd.read_csv("/data2/edworak/data/lightning_bt_plx_clean5.nc", usecols = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14])
df1

,year,month,day,hour,minute,second,lat,lon,peak current,C or G,CMI_C14,tlat,tlon,distance(km)
0,2021,6,15,21,55,1.112943,58.2470,-113.3299,5.7,C,-60.131332,58.263847,-113.340982,1.982
1,2021,6,15,21,30,1.129019,58.0625,-113.4030,10.1,G,-61.567750,58.065236,-113.415133,0.776
2,2021,6,15,21,0,0.742416,57.9104,-113.5325,-7.3,C,-60.430573,57.917131,-113.531218,0.752
3,2021,6,15,23,0,0.612641,58.9507,-114.0581,-18.4,G,-60.071472,58.934521,-114.045339,1.942
4,2021,6,15,20,30,0.877531,57.7775,-113.4118,5.5,G,-58.635070,57.785582,-113.421276,1.060
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25234,2021,6,15,22,54,34.000000,58.6480,-116.6660,18.0,C,-50.136260,58.721055,-116.683493,8.186
25235,2021,6,15,22,54,35.000000,59.1910,-115.5510,9.3,C,-58.395660,59.188900,-115.535730,0.901
25236,2021,6,15,22,54,39.000000,59.2580,-115.4780,7.8,C,-55.822083,59.242825,-115.495375,1.955
25237,2021,6,15,22,54,46.000000,58.7920,-115.8400,-20.1,G,-50.136260,58.776016,-115.824421,1.991
25238,2021,6,15,22,54,50.000000,58.8850,-115.5410,-11.0,G,-50.375656,58.884877,-115.548325,0.421